---
layout: default
permalink: "/portfolio.html"
---
<div class="container">
    <!-- START: Filter -->
    <div class="nk-pagination nk-pagination-nobg nk-pagination-center">
        <a href="#nk-toggle-filter">
            <span class="nk-icon-squares"></span>
        </a>
    </div>
    <ul class="nk-isotope-filter">
        <li class="active" data-filter="*">All</li>
        {% for category in site.data.portfolio.categories %}
        <li data-filter="{{ category.cat }}">{{ category.cat }}</li>
        {% endfor %}
    </ul>
    <!-- END: Filter -->

    <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">

        {% for item in site.data.portfolio.list %}
        <div class="nk-isotope-item" data-filter="{{ item.category }}">
            <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                <a href="{{ site.baseurl }}{{ item.url }}" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                    <div style="background-image: url('{{ site.baseurl }}{{ item.image }}');"></div>
                </div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                    <div>
                        <h2 class="portfolio-item-title h3">{{ item.title }}</h2>
                        <div class="portfolio-item-category">{{ item.category }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="nk-gap-4"></div>
</div>

<!-- START: Pagination -->
<!-- I don't know the effect of pagination, comment this out for a while -- saiho
<div class="nk-pagination nk-pagination-center">
    <a href="#">Load More Works</a>
</div>
-->
<!-- END: Pagination -->