---
layout: default
title: Professional & Experienced China Garment Enterprise
---
<!-- START: Header Title -->
<div class="nk-header-title nk-header-title-full">
    <div class="bg-image">
        <div style="background-image: url('{{ site.baseurl }}/assets/images/home-7.png');"></div>
        <div class="bg-image-overlay" style="background-color: rgba(12, 12, 12, 0.6);"></div>
    </div>
    <div class="nk-header-table">
        <div class="nk-header-table-cell">
            <div class="container">
                <h2 class="nk-subtitle text-white">{{ site.title }}</h2>
                <h1 class="nk-title display-3 text-white">We Produce
                    <br>
                    <em class="fw-400">High Quality Product & Outstanding Services</em>
                </h1>
                <div class="nk-gap"></div>
                <div class="nk-header-text text-white">
                    <div class="nk-gap-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="nk-header-title-scroll-down text-white" href="#nk-header-title-scroll-down">
            <span class="pe-7s-angle-down"></span>
        </a>
    </div>
</div>
<div id="nk-header-title-scroll-down"></div>
<!-- END: Header Title -->

<!-- START: About Our Agency -->
<div class="bg-white" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-xs-center">
                <div class="nk-gap-4 mt-9"></div>
                <h2 class="display-4">About <br>{{ site.title }}</h2>
                <div class="nk-gap mnt-5"></div>
                <p>{{ site.description }}</p>
                <img src="{{ site.baseurl }}/assets/images/about-me-signature.png" alt="" class="nk-img-fit">
                <div class="nk-gap-4 mt-25"></div>
            </div>
        </div>
    </div>
</div>
<!-- END: About Our Agency -->

<!-- START: Features -->
<div class="nk-box bg-dark-1 text-white">
    <div class="bg-image bg-image-parallax" style="background-image: url('{{ site.baseurl }}/assets/images/bg-pattern.jpg');"></div>
    <div class="nk-gap-5 mnt-6"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-portfolio"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">500+</div>
                        <div class="nk-ibox-text">Projects Completed</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-clock"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">30 Years</div>
                        <div class="nk-ibox-text">Working Experience</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-star"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">500+</div>
                        <div class="nk-ibox-text">Positive Feedbacks</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="nk-ibox-1">
                    <div class="nk-ibox-icon">
                        <span class="pe-7s-like"></span>
                    </div>
                    <div class="nk-ibox-cont">
                        <div class="nk-ibox-title">500+</div>
                        <div class="nk-ibox-text">Happy Clients</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-5 mnt-6"></div>
</div>
<!-- END: Features -->

<!-- START: Portfolio -->
<div class="nk-box bg-white" id="projects">
    <div class="nk-gap-4 mt-5"></div>
    <h2 class="text-xs-center display-4">Some Projects</h2>
    <div class="nk-gap mnt-6"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-xs-center">{{ site.data.portfolio.summary }}</div>
            </div>
        </div>
    </div>
    <div class="nk-gap-2 mt-12"></div>
    <div class="container">
    <div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">
        {% for item in site.data.portfolio.list %}
        <div class="nk-isotope-item" data-filter="{{ item.category }}">
            <div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">
                <a href="{{ site.baseurl }}{{ item.url }}" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                    <div style="background-image: url('{{ site.baseurl }}{{ item.image }}');"></div>
                </div>
                <div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">
                    <div>
                        <h2 class="portfolio-item-title h3">{{ item.title }}</h2>
                        <div class="portfolio-item-category">{{ item.category }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="nk-gap-4 mt-15"></div>
</div>
<!-- END: Portfolio -->

<!-- START: Reviews -->
<div class="nk-box bg-dark-1">
    <div class="bg-image bg-image-parallax" style="background-image: url('{{ site.baseurl }}/assets/images/bg-pattern.jpg');"></div>
    <div class="nk-gap-5 mnt-6"></div>
    <div class="nk-gap-3"></div>
    <div class="container-fluid">
        <!-- START: Carousel -->
        <div class="nk-carousel nk-carousel-all-visible text-white" data-autoplay="18000" data-dots="true">
            <div class="nk-carousel-inner">
                {% for reason in site.data.advantage %}
                <div>
                    <div>
                        <blockquote class="nk-blockquote-style-1 text-white">
                            <p>{{ reason.description }}</p>
                            <cite>{{ reason.point }}</cite>
                        </blockquote>
                        <div class="nk-gap-3 mt-10"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- END: Carousel -->
    </div>
    <div class="nk-gap-4 mt-3"></div>
</div>
<!-- END: Reviews -->

<!-- START: Partners -->
<!-- No partners so far, comment this code block out. -- saiho 
<div class="bg-white">
    <div class="container">
        <div class="nk-carousel-2 nk-carousel-x4 nk-carousel-no-margin nk-carousel-all-visible">
            <div class="nk-carousel-inner">
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-1-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-2-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-3-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-4-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-5-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-6-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-7-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="nk-box-1">
                            <img src="assets/images/partner-logo-8-dark.png" alt="" class="nk-img-fit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- END: Partners -->

<!-- START: Blog -->
<div class="nk-box bg-gray-1" id="blog">
    <div class="nk-gap-4 mt-5"></div>
    <h2 class="text-xs-center display-4">Latest Blogs</h2>
    <div class="nk-gap mnt-6"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="text-xs-center">
                    We will release promotional activities, corporate news and industry insights from time to time!
                </div>
            </div>
        </div>
    </div>
    <div class="nk-gap-2 mt-12"></div>
    <div class="container">
        <!-- START: Carousel -->
        <div class="nk-carousel-2 nk-carousel-x2 nk-carousel-no-margin nk-carousel-all-visible nk-blog-isotope" data-dots="true">
            <div class="nk-carousel-inner">

                {% for post in site.posts %}

                <div>
                    <div>
                        <div class="pl-15 pr-15">
                            <div class="nk-blog-post">
                                <div class="nk-post-thumb">
                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                        <img src="{{ site.baseurl }}{{ post.imageUrl }}" alt="" class="nk-img-stretch">
                                    </a>
                                    <div class="nk-post-category"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.categories[0] }}</a></div>
                                </div>
                                <h2 class="nk-post-title h4"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                                <div class="nk-post-date">
                                    {{ post.date | date_to_string: "ordinal", "US" }}
                                </div>
                                <div class="nk-post-text">
                                    <p>{{ post.excerpt }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="nk-gap-1"></div>
                    </div>
                </div>

                {% endfor %}
                
            </div>
        </div>
        <!-- END: Carousel -->
    </div>
    <div class="nk-gap-5 mt-20"></div>
</div>
<!-- END: Blog -->

<!-- START: Contact Info -->
<div class="container" id="contact">
    <div class="nk-gap-5"></div>
    <div class="row vertical-gap">
        <div class="col-lg-5">
            <!-- START: Info -->
            <!-- Add an inline style(style="text-align: center;") to the below h2 element -- saiho -->
            <h2 class="display-4" style="text-align: center;">Contact Info</h2>
            <div class="nk-gap mnt-3"></div>
            <p>Please do not hesitate to get in touch if you would like to discuss your designs or know something about the company. It will be my pleasure to make friends with you.</p>
            <ul class="nk-contact-info">
                <li>
                    <strong>Address:</strong> {{ site.address }}
                </li>
                <li>
                    <strong>Manager:</strong> {{ site.author }}
                </li>
                <li>
                    <strong>Phone/Wechat:</strong> {{ site.phoneNumber }}
                </li>
                <li>
                    <strong>Email:</strong> {{ site.email }}
                </li>
            </ul>
            <!-- END: Info -->
        </div>
        <div class="col-lg-7">
            <!-- I change the form to an image using img element --saiho -->
            <img src="{{ site.baseurl }}/assets/images/thread.jpg" style="width: 100%; object-fit: contain;">
            <!-- START: Form -->
            <!-- Cannot submit a form, comment this code block out. --saiho 
            <form action="#" class="nk-form nk-form-ajax">
                <div class="row vertical-gap">
                    <div class="col-md-6">
                        <input type="text" class="form-control required" name="name" placeholder="Your Name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control required" name="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="nk-gap-1"></div>
                <input type="text" class="form-control required" name="title" placeholder="Your Title">
                <div class="nk-gap-1"></div>
                <textarea class="form-control required" name="message" rows="8" placeholder="Your Comment" aria-required="true"></textarea>
                <div class="nk-gap-1"></div>
                <div class="nk-form-response-success"></div>
                <div class="nk-form-response-error"></div>
                <button class="nk-btn">Send Message</button>
            </form>
            -->
            <!-- END: Form -->
        </div>
    </div>
    <div class="nk-gap-5"></div>
</div>
<!-- END: Contact Info -->